<h2>Reactive Form</h2>
<div>
  <form [formGroup]="registrationForm">
    <div>
      <label for="name"></label>
      <input formControlName="userName" id="name" type="text">
    </div>
    <div>
      <label for="password"></label>
      <input formControlName="password" id="password" type="text">
    </div>
    <div>
      <label for="confirmpass"></label>
      <input formControlName="confirmPassword" id="confirmpass" type="text">
    </div>
    <button type="submit">Submit</button>
  </form>

  {{registrationForm.value | json}}
</div>
